<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PC game info</title>
</head>

<body>
    <div>
        <p th:text="'title:'+ ${pcgameform.getTitle()}"></p>
        <p th:text="'producer:'+ ${pcgameform.getProducer()}"></p>
        <p th:text="'genre:'+ ${pcgameform.getGenre()}"></p>
        <p th:text="'minimumAge:'+ ${pcgameform.getMinimumAge()}"></p>
        <p th:text="${pcgameform.isAAAMessage()}"></p>
    </div>
</body>