<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <p th:text="${createMessage}"></p>
    <form method="post" th:action="@{/pc-games}" th:object="${pcGameForm}">
         <label>
            Title:
            <input type="text" th:field="*{title}">
        </label>
        <label>
            Producer:
            <input type="text" th:field="*{producer}">
        </label>
        <label>
            Genre:
            <input type="text" th:field="*{genre}">
        </label>
        <label>
            Minimum Age:
            <input type="number" th:field="*{minimumAge}">
        </label>
        <label>
            Is AAA:
            <input type="checkbox" th:field="*{isAAA}">
        </label>
        <button type="submit">Submit</button>
    </form>

</body>
