<html lang="en" xmlns:th="http://www.thymeleaf.org">
<p> welcome</p>
<p th:text="${attributeOne}"> </p>
<form th:object="${formObj}">
    <input th:field="*{nume}"></input>
    <input th:field="*{adresa}"></input>


</form>

</html>